---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Get the current URL path from Astro's built-in `Astro.url`
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/src/assets/casa-serene-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Casa Serene | Financial Service</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	
	</head>
	<body class="min-h-screen justify-between flex flex-col">
		<Header currentPath={currentPath} />
		<main class="bg-gray-100 flex-1 flex">
			<slot />
		</main>
		<Footer />
	</body>
</html>
